#root {
  max-width: 1280px;
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

  .content-container {
    flex: 1;
  }

  .top-container{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
  }




